<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/main">
<head>
<title th:text="#{page.tab.header.index.projectBuying}">ProjectBuying
	:: Create</title>
<link href="../../../resources/css/datepicker3.css"
	th:href="@{/resources/css/datepicker3.css}" rel="stylesheet" />
</head>
<body>
	<section layout:fragment="content">
		<div class="showback">

			<div class="row">
				<div class="col-lg-12">
					<h3 class="mb">
						<i class="fa fa-angle-right"></i><span
							th:text="#{page.header.create.projectBuying}">New Project
							Buying Entry</span>
					</h3>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12 col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading"
							th:text="#{label.form.title.projectBuying.entry}">Project
							Buying Entry Form</div>

						<div class="panel-body">
							<form class="form-horizontal" method="POST"
								th:object="${projectBuying}" th:action="@{/project/buying/save}">
								<fieldset>
									<legend th:text="#{heading.projectBuying}">Project
										Buying's</legend>
									<div class="form-group">
										<label for="projectName" class="col-sm-2 control-label"
											th:text="#{label.project.name}">Project Name</label>
										<div class="col-sm-3">
											<label id="projectName" th:text="*{projectInfo.projectName}"
												class="form-control input-sm"></label> <input type="hidden"
												th:field="*{projectInfo.id}" th:value="${projectInfoId}" class="form-control input-sm" />
										</div>
									</div>
									<div class="form-group">
										<label for="boughtDate" class="col-sm-2 control-label date"
											th:text="#{label.projectBuying.boughtDate}">Bought
											Date</label>
										<div class="col-sm-3">
											<input type="text"
												class="form-control input-sm" id="boughtDate"
												th:field="*{boughtDate}" />
											<p class="text-danger"
												th:if="${#fields.hasErrors('boughtDate')}">
												<span th:errors="*{boughtDate}">Required</span>
											</p>
										</div>
									</div>

									<div class="form-group">
										<label for="billsCost" class="col-sm-2 control-label"
											th:text="#{label.projectBuying.billCost}">Cost of
											Bill</label>
										<div class="col-sm-3">
											<input type="text" id="billsCost" th:field="*{billsCost}"
												maxlength="100" class="form-control input-sm" />
											<p class="text-danger"
												th:if="${#fields.hasErrors('billsCost')}">
												<span th:errors="*{billsCost}">Project Name must
													required!</span>
											</p>
										</div>
									</div>
								</fieldset>
								<div class="form-group">
									<div class="col-sm-offset-2 col-sm-10">
										<a href="#" class="btn btn-danger"
											th:href="@{/project/buying/cancel}"> <span
											th:text="#{label.cancel}">Cancel</span>
										</a>
										<button id="create" type="submit" value="false" name="addMaterial"
											class="btn btn-primary" th:text="#{label.projectBuying.create}">Create</button>
										<button id="add" type="submit" value="true" name="addMaterial"
											class="btn btn-primary" th:text="#{label.projectBuying.addMetarial}">Add
											Materials</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div layout:fragment="custom-scripts">
		<script id="date" src="../../../resources/js/bootstrap-datepicker.js"
			th:src="@{/resources/js/bootstrap-datepicker.js}"></script>
		<script>
			$('#boughtDate').datepicker({
				format : "dd/mm/yyyy",
				startView : 2,
				autoclose : true
			});
		</script>
	</div>
</body>
</html>