<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/main">
<head>
<title th:text="#{page.header.search.client}">Search Client ::
	mNetServices</title>
</head>

<body>
	<section layout:fragment="content">
		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<h2 class="page-header" th:text="#{page.header.show.search.client}">Search
						a Client</h2>
				</div>
			</div>
			<div class="row">
				<div class="panel panel-default">
					<div class="panel-heading">
						<span th:text="#{header.show.search.client}">Search Client</span>
					</div>
					<div class="panel-body">

						<div th:if="${error}" class="alert alert-danger">
							<p th:text="${error}"></p>
						</div>

						<div th:if="${notFound}" class="alert alert-danger">
							<p th:text="${notFound}"></p>

							<p style="text-decoration: underline;">
								<a th:href="@{/labour/create}">Create New Labour</a>
							</p>
						</div>

						<form class="form-horizontal" role="form"
							th:object="${clientSearchCmd}" th:action="@{/client/display}"
							method='get'>

							<div class="form-group">
								<label for="name" class="col-sm-2 control-label"
									th:text="#{label.client.name}">Client's name </label>

								<div class="col-sm-3">
									<input type="text" class="form-control input-sm" id="name"
										th:field="*{name}" />
								</div>
							</div>


							<div class="form-group">
								<label class="col-sm-2 control-label" for="clientType-select"
									th:text="#{label.client.type}"> Client's Type</label>
								<div class="col-sm-3">
									<select id="clientType-select" class="form-control"
										th:field="*{clientType}">
										<option value="" th:text="#{common.select.prompt}"></option>
										<option
											th:each="clientType : ${T(com.thevolume360.domain.enums.ClientType).values()}"
											th:value="${clientType}" th:text="${clientType.label}"
											th:selected="${clientType == clientSearchCmd.clientType}"></option>
									</select>
								</div>
							</div>

							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
									<button type="reset" class="btn btn-danger"
										th:text="#{button.reset}">Reset</button>
									<button type="submit" class="btn btn-primary"
										th:text="#{button.search}">Search</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>